body {
  font: 90%/1.5  "ProximaNovaRegular", "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  color: #000000;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 2);
  grid-gap: .5em;
  grid-auto-rows: auto;
  grid-row-gap: 1em;
  padding: 10px;
  border: 1px solid black;
}

.one {
  grid-column: auto;
  grid-row: 1;
}

.two {
  grid-column: auto;
  grid-row: 1;
}

.three {
  grid-column: auto;
  grid-row: 2;
}

.four {
  grid-column: auto;
  grid-row: 2;
}

label {
  height: 75%;
  padding: 4px;
  margin-top: 1px;
}

input {
  min-width: 70%;
  float: right;
  clear: both;
  border: 2px solid #000000;
  font-size: small;
}

#numberOfRecords {
  min-width: 67%;
}

select {
  min-width: 68%;
  float: right;
  clear: both;
  border: 2px solid #000000;
  font-size: small;
}

.smaller-font {
  font-size: xx-small;
}

.align-paragraph {
  text-align: center;
  margin-left: 6em;
  margin-top: .5em;
  margin-bottom: 0;
}

/* Not a standard hence all the name craziness https://css-tricks.com/almanac/selectors/p/placeholder/ */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: lighter;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight: lighter;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: lighter;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: lighter;
  font-style: italic;
}

button {
  max-width: 29%;
  padding: 4px;
  background-color: #E82620;
  border: 2px solid  #E82620;
  color: white;
  font-size: medium;
}

.button {
  width: 115px;
  background-color: #E82620;
  border: 2px solid  #E82620;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  display: none;
}

#mapNote {
  display: none;
}

.wrapperBelowMap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px;
  padding-top: 16px;
  align-items: center;
}

.wrapperBelowMap strong {
  display: none;
}

.break {
  flex-basis: 100%;
  height: 0;
}

#searchResults {
  padding-right: 2em;
}

table {
  border: 2px solid #000000;
  border-bottom: none;
  border-collapse: collapse;
}

th {
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
}

td {
  border-left: 2px solid #000000;
}

.loading {
  display: none;
}

#map {
  height: 700px;
  width: auto;
}

#map > div > div > div.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom > div:nth-child(1) > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
